PORT=5000
DATABASE_URL="file:./dev.db"
JWT_SECRET="fundchain_btech_major_project_jwt_secret_key_2026_cryptographic"
BLOCKCHAIN_RPC_URL="http://127.0.0.1:8545"
CONTRACT_ADDRESS="0x5FbDB2315678afecb367f032d93F642f64180aa3"
GOVERNMENT_WALLET="0xf39Fd6e51aad88F6F4ce6aB8827279cffFb92266"
AI_SERVICE_URL="http://127.0.0.1:8000"
IPFS_GATEWAY="https://ipfs.io/ipfs/"
NODE_ENV="development"
